<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
</head>
<body>
    <h1>Weather in Togo</h1>
    <form method="POST" action="{% url 'get_weather' %}">
        {% csrf_token %}
        <label for="city">Enter a city in Togo:</label>
        <input type="text" name="city" required>
        <button type="submit">Get Weather</button>
    </form>
    
    <h2>Weather Data</h2>
    <ul>
        {% for weather in weather_data %}
            <li>{{ weather.ville }}</li>
            <li>{{ weather.date }}</li>
            <li>{{ weather.temperature }}°C</li>
            <li>{{ weather.humidite }}% Humidity</li>
            <li>{{ weather.description }}</li>
            <li>------------------------</li>
        {% empty %}
            <li>No weather data available</li>
        {% endfor %}
    </ul>
</body>
</html>